@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');



body{
    margin: 0px;
    background-color: #DBC070;
}


header{
    background-color: antiquewhite;
    text-align: center;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(163, 152, 134, 0.87);
}

header h1{
    margin-bottom: 0px;
}

header p{
    padding-bottom: 5px;
}

header a{
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
    color: black;
}


main{
    background-color: blanchedalmond;
    padding: 10px;
    margin: 0px auto;
    border-radius: 5px;
    max-width: 900px;
    box-shadow: 3px 3px 3px rgba(163, 152, 134, 0.87);
}


section{
    padding: 10px;
    padding-bottom: 10vh;
    padding-top: 10vh;
    background-color: white;
    font-weight: bold;
    line-height: 4em;

}



section.imagem{
    background-color: rgba(48, 46, 46, 0.623);
    color: white;
    background-attachment: fixed;
}


section.imagem > p{
    background-color: rgba(58, 57, 57, 0.781);
    width: 400px;
    margin-left: -10px;
    padding: 10px;
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

main p{
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 5px ;
    margin: 15px 0px 0px 0px;
    font-size: 18px;
}

